* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

nav,
footer {
    padding: 1% 0;
    background-color: #aaa;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header {
    padding: 12% 0;
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
    text-align: justify;
}

section:nth-child(even) {
    background-color: #ddd;
}

h2 {
    text-align: center;
}

.links {
    float: right;
    font-size: 16px;
    margin-top: 25px;
}

.links li {
    display: inline-block;
    margin-left: 30px;
    color: white;
}

.content {
    margin: 30px;
}

.content li {
    text-align: left;
}

.footer-content {
    font-size: small;
}