* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.25;
}

nav,
footer {
    padding: 1% 0;
    background-color: #B7B5B3;
}

footer {
    margin-left: -10px;
    margin-right: -10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header {
    padding: 12% 0;
    font-family: 'Yeseva One', cursive;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #EBE9E9;
    color: #2D3235;
}

section {
    padding: 3% 0;
    margin: -10px;
    background-color: #EBE9E9;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 150%;
    color: #2D3235;
}

section:nth-child(even) {
    background-color: #A5B5BF;
}

section p {
    margin-left: 8%;
    margin-right: 8%;
}

section ul {
    margin-left: 8%;
    margin-right: 8%;
}

h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: #2D3235;
}

.links {
    float: right;
    font-size: 16px;
    /*margin-top: 25px;*/
}

.links li {
    display: inline-block;
    margin-left: 30px;
    color: white;
}

#bio {
    margin: 0 auto;
}

#portfolio {
    margin: 0 auto;
}

.content {
    margin: 30px;
}

.content li {
    text-align: left;
}

.footer-content {
    font-size: small;
}

a:link {
    color: #000;
    font-weight: bolder;
}

a:visited {
    color: #000;
    font-weight: bolder;
}

a:hover {
    color: #000;
    font-weight: bolder;
}

a:active {
    color: #000;
    font-weight: bolder;
}